 <article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1"><%= article.title%></h2>
    <p class="blog-post-meta"><%= article.created_at %><a href="#">Chris</a></p>
    <p><%=article.body %></p>
</article>
